/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo com gradiente */
body {
    background: linear-gradient(135deg, #142538, #00c6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caixa do formulário */
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.fundoh1h2 {
    background-color: white;
    border-radius: 5px;
    border: 4px solid black;
    padding: 10px;
}

a {
    color: black;
}

/* Input estilizado */
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Botão estilizado */
input[type="submit"] {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

/* Efeito hover no botão */
input[type="submit"]:hover {
    background: #0056b3;
}

.reaj {
    padding: 10px;
    border: 4px solid black;
    border-radius: 4px;
    background-color: white;
}
.reaj input {
    background-color: rgb(169, 169, 169);
    color: black;
}